body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: #ffffff; /* White Text */
    padding: 20px;
    text-align: center;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00FFFF;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #808080;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li:first-child a:hover {
    background-color: #ff006c;  
}

nav li:nth-child(2) a:hover {
    background-color: #0bff01;   
}

nav li:nth-child(3) a:hover {
    background-color: #00ffea;   
}

nav li:nth-child(4) a:hover {
    background-color: #FFFF00;   
}

nav li:nth-child(5) a:hover {
    background-color: #ff006c;   
}

main {
    padding: 20px;
    border-color: #FF7F50;
    border: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #00FFFF;
}
